<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natal</title>

    <style>
        
        body{

            background-color: grey;
            color: white;
        }

        h1{
            text-align: center;
        }

        p{
            font-size: large;
            text-align: center;
        }
    </style>

</head>
<body>
    
    {% if natal %}
       <h1>É natal!!</h1>
       
    {% else %}
        <h1>Não é natal!!</h1>
        <section>
            <p>Natal é dia 25 de dezembro.</p>
       </section>

    {% endif %}
   
  
</body>
</html>